@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Raleway:wght@900&family=Roboto:wght@100&display=swap');

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  margin: auto;

}

.uni, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.container main {
  max-width: 1020px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  z-index: 1;
}

.tools {
  position: fixed;
  height: 45vh;
  top: 4vh;
  left:3vw;
  width: 67vh;
  background-image: url('/toolsvert.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .25;
  z-index: -1;
}

.tools1 {
  position: fixed;
  bottom: 4vh;
  right:3vw;
  height: 45vh;
  width: 67vh;
  background-image: url('/toolsvert.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .25;
  z-index: -1;
}

.footer {
  margin: 4rem auto;
  bottom:.5rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex: 1;
  background-color: rgba(216, 207, 205, .3);
  color: darkgrey;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  padding: 4rem 0;
  font-size: 1.15rem;
  color: darkblue;
}

.footer a:hover{
  color: black;
  font-size: 1.25rem;
}

.unibox {
  padding-top: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
  font-family: "Raleway";
  margin: 4rem 0;
  padding-top: 5vw;
  line-height: 1.5;
  font-size: 5vw;
}

.description span {
  font-family: "Bad Script";
}

.block {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 4rem;
 font-size: 1.25rem;
 font-family: "Raleway";
 z-index: 1;
 padding: 1rem;
}

.block p {
  text-align: center;
}

.block p:hover {
}

.block:hover {
  font-family: "Raleway";
  color: #EEE2DC;
  background: radial-gradient(#BAB2B5,#a69da1);
  border: none;
  /* background-color:#123C69; */
  /* box-shadow: 0px 0px 5px 7px #123C69; */
}

.contactbox {
  display: flex;
  padding: 5rem 1rem;
  flex-direction: column;
  align-items:stretch;
  justify-content: center;
  margin: 5rem auto;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.about {
  background-color: rgba(216, 207, 205, 1);
  background: radial-gradient(#e6dedc,#d8cfcd,#c2bab8);
  margin:auto;
  text-align: center;
  width: 90%;
}

.about h3 {
  font-family: "Bad Script";
  font-size: 2.5vw;
}

.about p {
  width: 80%;
  margin: auto;
  font-size: 3vw;
  font-weight: bold;
  padding: 1rem 0;
}

.grid {
  font-size: 1rem;
  display: flex;
  margin:3rem auto;
  margin-bottom: 10rem;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  border-radius: 5px;
}

.grid a{
  margin: 1rem;
  padding: 1rem;
  color: #123C69;
  font-weight: 900;
  background-color: #BAB2B5;
  text-decoration: none;
  border: 1px solid #EEE2DC;
  box-shadow: 0px 0px 6px #EEE2DC;
  border-radius: 5px;
  text-align: center;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 250px;
  background: radial-gradient(#BAB2B5,#a69da1);
  text-decoration: none;
  border: 1px solid #a69da1;
  box-shadow: 0px 0px 6px #a69da1;
  transition: all .2s ease-in-out;
}

.grid a:hover {
  font-size: 1.1rem;
  border: 1px solid #123C69;
  background-color: #123C69;
  color: #BAB2B5;
  background: radial-gradient(#144375,#0f3359);
  box-shadow: 0px 0px 6px #0f3359;
  transform: scale(1.1);
}

.grid h2{
  font-family: "Raleway";
}

.grid span {
  font-family: "Bad Script";
  margin-left: 2px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.linkHolder{
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
}

.linkHolder a {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: #123C69;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: #BAB2B5;
  background: radial-gradient(#BAB2B5,#a69da1);
  text-decoration: none;
  border: 1px solid #a69da1;
  box-shadow: 0px 0px 6px #a69da1;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  height: 60px;
  transition: all .2s ease-in-out;
}

.linkHolder a:hover {
  border: 1px solid #123C69;
  background-color: #123C69;
  background: radial-gradient(#144375,#0f3359);
  color: #BAB2B5;
  box-shadow: 0px 0px 9px #123C69;
  transform: scale(1.1);
}

.galleryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.galleryBox div {
  margin: 2rem auto;
}


@media only screen and (max-width: 400px) {}

@media (max-width: 650px) {

  .block {
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .galleryBox {
    padding-top: 4rem;
  }
  .description{
    font-size: 2rem;
  }

}

@media (max-width: 700px) {
  .about p {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 800px) {

  .linkHolder{
    flex-direction: row;
  }

}

@media only screen and (min-width: 1000px) {

  .description {
    font-size: 3rem;
  }

  .unibox {
    padding-top: 1rem;
  }

  .container main {

    padding: 6rem 0;

    padding: 5rem 0 0 0;
  }

  .about h3 {
    font-size: 2.5vw;
  }

  .about p {
    font-size: 2rem;
  }

}
