.main{
  padding-top: 20vw;
  margin: auto;
}

.main h2 {
  font-family: "Bad Script";
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

.adam, .silly, .parasail, .treatment1, .hair, .hospital, .beach {
  background: radial-gradient(#e6dedc,#d8cfcd,#c2bab8);
  box-shadow: 0 0 2px 2px rgba(194, 186, 184, .7);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem auto;
}

.main div div {
  box-shadow: 0px 0px 4px 5px white;
}

.main div p {
  margin: 1rem;
}

@media only screen and (max-width: 400px){

  .main{
    padding-top: 8rem;
  }

  .main div p {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 500px){

  .adam, .silly, .parasail, .treatment1, .hair, .hospital, .beach {
    font-size: 1rem;
  }

}


@media only screen and (max-width: 799px){

  .main{
      padding-top: 30vw;
    }

  .main div{
    flex-direction: column;
  }
  .adam, .silly, .parasail, .treatment1, .hair, .hospital, .beach {

  }


}

@media  only screen and (min-width: 800px) {


  .main{
      padding-top: 30vw;
    }

  .main div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .adam, .silly, .parasail, .treatment1 {
    flex-direction: row;
  }

  .hair, .hospital, .beach {
    flex-direction: row-reverse;
  }

  .main div p {
    width: 50%;
  }
}

@media only screen and (min-width:900px){
  .main{
      padding-top: 15rem;
    }
}


@media only screen and (min-width:1200px){
  .main {
    width:1000px;
  }
}
